doctype html
html.index(lang="zh-CN")
  head
    style(type='text/css').
     .icp_link {
          z-index: 10;
      }
    include head.pug
  body
    #particles-oli-wrapper.hide
    .index-wrapper
      header.head.index.hide
        h1.head-title.u-fl
          = config.title
        include nav.pug

    != js('js/particles.min.js')
    != js('js/particles.oli.js')

    include ../plugins/google.pug

#particles-oli-wrapper.hide
if theme.icp_link
        a(href=theme.icp_link, class="icp_link", target="view_window")
          != theme.icp_text
//-     <a href="http://beian.miit.gov.cn">粤ICP备20015271号</a>
